body {
  background: #2a97612f;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #2e863ab6;
  min-height: 80px;
  display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
  color: white;
  margin-bottom: 100px;
}

.App-search-input {
  margin: 5px;
}

.App-img {
  width: 80px;
}

.App-link {
  color: #61dafb;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #db3434;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  width: 24em;
  -ms-interpolation-mode: bicubic;
}

.MuiInputBase-input-24 {
  text-align: center;
  margin-top: 100px;
}
